.r{
    width: 800px;
    height: 400px;
    margin: auto;
    border: 1px solid rgb(202, 240, 252);
    background-color:rgb(193, 244, 253);
    box-shadow: 6px 14px 50px #d4d4d4, -4px 12px 26px #d4d4d4;
}
.m ul li {
    display: inline;
    margin-left:0;
    font-size: 30px;
    color: black;
    margin-bottom: 0;
    font-family: sans-serif;
}
.l h3{
    text-align: right;
    margin-right: 30px;
    margin-top: -39px;
    font-size: 16px;
    color: deeppink;
    font-family: sans-serif;
}
.tro{
    margin-left: 40px;
    margin-top: 40px;
}
img{
    width: 25%;
    border-radius: 50%;
}
.batu {
    border: 1px solid deeppink ;
    width: 130px;
    height: 38px;
    border-radius: 20px;
    margin-left: 27px;
    margin-top: 17px;
    background-color:deeppink;
    font-family: sans-serif;
}
h5 {
    font-size: 18px;
    font-weight: 100;
    margin-top: 8px;
    margin-left: 19px;
    color: #fff;
    font-family: sans-serif;
}
 .fro {
    margin-left: 33%;
    margin-top: -251px;
}
h6{
    font-size: 14px;
    color: gray;
    font-family: sans-serif;
}
p{
    margin-top: -24px;
    font-size: 18px;
    font-weight: 500;
    font-family: sans-serif;
}
